/*
Utilities 
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
  list-style: none;
  text-transform: capitalize;
  color: white;
}


.floatter-utily{
  float: left;
}

.clearfix::after{
content: "";
display: table;
clear: both;
}

.button-setup{
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: white;
  color: black;
}

.hoverable-contenent:hover{
  cursor: pointer;
  color: #3161e0;
}

/* .position-absolute-utily{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
} */

.margin-footer-utily{
  margin: 1px 1px 1px 1px;
}

.container-size{
  width: 80%;
  margin: 0 auto;
}

/*
/Utilities
*/


/* 
Header 
*/

header{
  height: 80px;
  background-color:#255ee9 ;
}

.header-container{
  line-height: 80px;
  }

.logo{
  width: 20%;

}
.central-menu{
  width: 60%;
}

.header-container img{
  vertical-align:middle ;
}


.header-container ul li{
  display: inline-block;
  font-weight:600;
  margin: 0 5%;
}

.hoverable-contenent li:hover{
  cursor: pointer;
  color: #3d31e0;
}

.header-button-container{
  float: left;
  width: 20%;
}
.header-button-container span{
  float: right;
}


/* 
/Header 
*/

/* ----------------------------------------------------------------------- */

/*
Jumbotron
*/

.jumbotron{
  position: relative;
  width: 100%;
  height: 530px;
  background-image: url(./img/jumbo.png);
  background-size: cover;
  background-position: center;
}

.jumbotron-container{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}

.jumbotron-container h2{
  font-size: 50px;
}

.jumbotron-container p{
  font-size: 20px;
  margin-bottom: 10px;
  padding: 30px;
}

span:nth-child(2){
  color: white;
  background-color: black;
  margin-left: 10px ;
}

/*
/Jumbotron
*/


/* ----------------------------------------------------------------------- */


/*
Main
*/

/* .wave-background-utily{ 
  background-image: url(./img/wave.svg);
    background-size: 1000em;
    opacity: 0.2;
} */

/* Prima sezione */

.first-section-container img{
  width:80%;
  margin: 0 15%;
}

/* seconda sezione */ 



.second-section-container{ 
  padding: 15%  0;
}

.second-section-container img{
  width:70%;
  margin: 0 15%;
  }


/* Terza sezione */

.third-section-container img{
  width:80%;
  margin: 0 15%;
}


.section-image-container{
  float: left;
  width: 60%;
  
}

.section-text-container{
  float: left;
  width: 40%;
  padding: 36px 160px 20px 190px;
  
}
.section-text-container h2{
  font-size: 30px;
}

.section-text-container p{
  margin-top: 20px;
  font-size: 20px; 
}


/* Quarta sezione */

.forth-section-text-container{
  width: 60%;
  margin: 0 auto;
  padding: 5%  0;
  text-align: center;
}

.forth-section-text-container h2{
  font-size: 35px;
  padding-bottom: 20px;
}

.forth-section-image-container{
  padding-left:20%;
}

.forth-section-image-container  img{
  width: 80%;
  margin: 0 auto;
}

.forth-section-link-container{
  padding: 8% 0;

}

.forth-section-link-container h3{
  width: 80%;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
  background-image: url(./img/stars.svg);
  background-position: top;
}

.forth-button-container{
  text-align: center;
  padding-top: 4%;
}

.forth-button-container span{
  background-color: #8ea1e1;
  color: white;
}

/*
/Main
*/


/* ----------------------------------------------------------------------- */


/*
Footer
*/

footer{
  height: 800px;
  background-color:#3161e0 ;
}

.footer-container{
  height: 500px;
  background-color: blueviolet;
  padding-top: 10px;
  }

  /* FOOTER MENU */ 

footer li{
  padding: 25px 0 0 30px ;
}



.list-head{
  color: #255ee9;
  font-weight: 600;
}

.social-container{
  width: 15%;
  margin-left: 7.5%;
  margin-right:6% ;
  height: 200px;
}

.social-container h2{
  color: #7289da;
  padding-bottom: 20px;
}
.social-container img{
  width: 10%;
  margin-right: 20px;
}

.social-container p{
  font-weight: bold;
}

.social-container ul li{
  text-align: center;
  padding: 20px 10px 15px 0px;
}

.social-container ul li{
  display: inline-block;
  font-size: 20px;
}

.prodotto-container{
  width: 18%;
}
.compagnia-container{
  width: 18%;
}

.risorse-container{
  width: 18%;
}

.norme-container{
  width: 10%;
  margin-right: 6.5%;
}

.footer-base-container{
  height: 60px;
  background-color: #255ee9;
}




/*
/Footer
*/